@import 'mixins';

$font-fam: Arial, Roboto, Helvetica Neue;
$base-color: #494949;

body {
  font-family: $font-fam;
  font-weight: 300;
  font-size: 18px;
  line-height: 1em;
  color: #312d3b;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $base-color;

  &:hover {
    color: $base-color;
  }
}

ul, li {
  list-style: none;
}

p {
  font: 400 16px/26px $font-fam;
  color: #494949;
}

.checkbox {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  &__input {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 14px;
    height: 14px;

    &:not(checked) {
      position: absolute;
      opacity: 0;
    }

    &:checked {

    }
  }
  &__input + &__label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    font: 500 16px/22px $font-fam;
    color: #494949;
  }
  &__input:not(checked) + &__label {
    position: relative;
    padding: 0 0 0 23px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 11px;
      height: 11px;
      border-radius: 2px;
      background: #fff;
      border: 2px solid #b8b8b8;
    }
  }
  &__input:checked + &__label {
    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 1px;
      width: 14px;
      height: 14px;
      border-radius: 2px;
      background: #3b99fc;
      border: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 3px;
      width: 14px;
      height: 14px;
      background: url(/img/svg/check.svg) no-repeat;
    }
  }

}

.btn {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  padding: 6px 25px;
  font: 400 13px/1em $font-fam;
  cursor: pointer;

  &_white {
    background: #fff;
    color: #00adff;
  }
  &_blue {
    background: #37b7ec;
    color: #fff;
  }
}

.gallery {

  &__list {

    &-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 7px;
      margin-bottom: 9px;

      img {

      }
    }
    &-link {

    }
  }
}

.docs {

  &__list {

    &-item {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin-right: 45px;

      &:last-child {
        margin-right: 0;
      }

      svg {
        width: 47px;
        height: 59px;
        margin-bottom: 11px;
      }
    }
    &-link {

    }
    &-title {
      font: 400 14px/1em $font-fam;
      color: #333;
    }
  }
}

.contacts {
  display: flex;

  &__map {

    .map {
      width: 300px;
      height: 200px;
    }
  }
  &__info {
    padding-left: 16px;

    &-title {
      font: 500 16px/21px $font-fam;
      color: #383838;
      margin-bottom: 8px;
    }
    &-text {
      font: 400 16px/1em $font-fam;
      color: #858585;
      margin-bottom: 8px;
    }
    &-link {
      font: 400 16px/1em $font-fam;
      color: #00adff;
      margin-top: 16px;
    }
  }
}

.share-list {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 10px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 15px;
      height: 15px;
      color: #fff;
    }
  }

  &_colored {
    justify-content: center;

    .share-list__item {
      &_fb {
        background: #3a589c;
      }
      &_tw {
        background: #29a9e1;
      }
      &_vk {
        background: #5a7ba0;
      }
      &_ln {
        background: #007bb8;
      }
    }
    .share-list__item {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.popup-share {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  &_visible {
    display: block;
  }

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__wrap {
    position: relative;
    top: calc(50% - 80px);
    margin: auto;
    max-width: 300px;
  }
  &__title {
    font: 400 22px/26px $font-fam;
    color: #404143;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    svg {
      width: 14px;
      height: 14px;
      transition: all 0.3s ease;
    }

    &:hover {
      svg {
        transform: rotate3d(0, 0, 1, -180deg);
      }
    }
  }
  &__body {
    background: #f0f5fa;
    text-align: center;
    padding: 20px 20px 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &-url {
      font: 400 20px/22px $font-fam;
      color: #404143;
      user-select: all;
      margin-bottom: 37px;
    }
    &-social {

    }
  }
}

.try-mobile {
  background-color: #37b7ec;
  padding: 5px 0 3px;

  &__container {
    @include container();
    display: table;
  }
  &__logo {
    display: table-cell;
    vertical-align: middle;

    .icon {
      width: 34px;
      height: 33px;
    }
  }
  &__info {
    font: 400 12px/1em $font-fam;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
  }
  &__title {
    font-size: 14px;
  }
  &__btn {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
  }
  &__close {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    text-align: right;

    .close {
      width: 12px;
      height: 12px;
      color: #fff;
    }
  }
}

.header {
  background-color: #3c434a;

  &__container {
    @include container();
    display: table;
  }
  &__logo {
    display: table-cell;
    vertical-align: middle;

    .logo {
      width: 137px;
      height: 36px;
    }
  }
  &__sign {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font: 500 13px/1em $font-fam;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #979ea4;
  }
  &__sign-link {
    color: #37b7ec;
    border-bottom: 1px solid #37b7ec;
  }
  &__login {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font: 400 13px/1em $font-fam;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #fff;
  }
}

.content {
  background-image: url('/img/weather.png');
  min-height: 100vh;

  &__container {
    @include container();
  }
}

.post {
  margin-bottom: 12px;

  &_favorite {
    .post__content-label {
      border-top: 48px solid;
      border-top-color: #ef4b2b;
    }
  }
  &_protected {
    .post__content-label {
      border-top: 48px solid;
      border-top-color: #3c434a;
    }
    .post__content-bottom-status {
      color: #009ce6;
    }
  }
  &_archived {
    .post__content {
      background: rgba(255, 255, 255, 0.7);
    }
    .post__content-label {
      border-top: 48px solid;
      border-top-color: #979da3;
    }
    .post__content-bottom-status {
      color: #858585;
    }
  }

  &__header {

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    &-author {
      display: flex;
      align-items: center;

      &-avatar {
        margin-right: 14px;

        img {

        }
      }
      &-name {

      }
    }
    &-share {
      display: flex;

      &-social {

      }
      &-url {
        font: 400 13px/1em $font-fam;
        color: #fff;
        background: #92b6c4;
        padding: 2px 3px;
        border-radius: 4px;
        margin-left: 30px;
        user-select: all;
      }
    }
    &-title {
      font: 500 20px/1em $font-fam;
      color: #2c2f31;
    }
    &-btn {

    }
  }

  &__content {
    border-radius: 5px;
    background-color: #fff;
    padding: 26px 30px 16px;
    position: relative;
    overflow: hidden;

    &-label {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-left: 48px solid transparent;

      svg {
        position: absolute;
        top: -41px;
        right: 7px;
        width: 15px;
        height: 15px;
        color: #fff;
      }
    }

    &-body {

      &-checklist {
        margin-bottom: 22px;
      }
      &-text {
        @extend p;
        margin-bottom: 20px;
      }
      &-gallery {
        margin-bottom: 27px;
      }
      &-docs {
        padding: 24px 0;
      }
      &-contacts {
        padding: 25px 0;
      }
    }

    &-bottom {
      display: table;
      width: 100%;

      &-date {
        font: 400 16px/1em $font-fam;
        color: #858585;

        svg {
          color: #858585;
          width: 16px;
          height: 16px;
        }
      }
      &-update {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        font: 400 16px/1em $font-fam;
        color: #aeb4ba;
      }
      &-share {
        display: table-cell;
        vertical-align: middle;
        text-align: right;

        &-item {
          display: inline-block;

          svg {
            width: 15px;
            height: 15px;
          }
        }
      }
      &-status {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        font: 400 16px/1em $font-fam;
        color: $base-color;
      }
    }

    &-separator {
      width: 100%;
      height: 1px;
      background: rgba(189, 189, 189, 0.5);
    }
  }
}

.footer {
  background-color: #3c434a;
  padding: 26px 0;

  &__container {
    @include container();
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    font: 500 11px/1em $font-fam;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #979ea4;
  }
  &__menu {

    &-list {
      display: flex;

      &-item {
        padding: 0 10px;
      }
      &-link {
        font: 500 11px/1em $font-fam;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #979ea4;
      }
    }
  }
  &__social {

    &-item {
      display: inline-block;

      svg {
        width: 15px;
        height: 15px;
        color: #8c9399;
      }
    }
  }
}

@media (max-width: $mobile-width - 1) {
  .gallery {
    &__list {
      &-item {
        margin-right: 0;
      }
      &-link {
        display: block;
      }
    }
  }

  .contacts {
    display: block;

    &__map {
      margin-bottom: 13px;

      .map {
        width: auto;
        height: 176px;
      }
    }
    &__info {
      padding-left: 0;
    }
  }

  .post {
    &__content-label {
      border-left-width: 40px;

      svg {
        top: -36px;
        right: 4px;
      }
    }
    &_favorite, &_protected, &_archived {
      .post__content-label {
        border-top-width: 40px;
      }
    }
  }
}

@media screen and (min-width: $mobile-width) and (max-width: $desktop-width - 1) {

}

@media (min-width: $desktop-width) {
  .try-mobile {
    display: none;
  }
}